@import "./variables";
@import "./mixins";

@font-face {
  font-family: "iconfont";
  src: url("../fonts/icons/iconfont.eot"), // IE9
  url("../fonts/icons/iconfont.eot?#iefix") format("embedded-opentype"), // IE6-IE8
  url("../fonts/icons/iconfont.woff") format("woff"), // chrome、firefox
  url("../fonts/icons/iconfont.ttf") format("truetype"), // chrome、firefox、opera、Safari, Android, iOS 4.2+
  url("../fonts/icons/iconfont.svg#iconfont") format("svg"); // iOS 4.1-
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: $background-color;
}

.content {
  width: 100%;
  height: 100%;
}

// gellery start
.gellery {
  position: relative;
  width: 100%;
  height: 680px;
}

// gellery end
// image start
.img-sec {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: $img-sec-background-color;
  perspective: 1000px;

  @at-root {
    .img-figure {
      position: absolute;
      box-sizing: border-box;
      width: 360px;
      height: 360px;
      margin: 0;
      padding: 20px;
      background-color: $img-figure-background-color;
      cursor: pointer;
      transform-style: preserve-3d;
      transform-origin: 0 50% 0;
      transition: left 0.6s ease-in-out, top 0.6s ease-in-out, transform 0.5s ease-in-out;


      &.inverse {
        transform: translate(360px) rotateY(180deg);
      }

      img {
        width: 320px;
        height: 280px;
      }

      figcaption {
        text-align: center;

        .img-title {
          margin: 20px 0 0;
          font-size: 16px;
          color: $img-title-color;

        }

        .img-back {
          position: absolute;
          left: 0;
          top: 0;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          padding: 90px 40px;
          background-color: $img-back-background-color;
          transform: rotateY(180deg);
          backface-visibility: hidden;
        }
      }
    }
  }
}
// image end

// contoller start
.nav-sec {
  position: absolute;
  z-index: 101;
  left: 0;
  bottom: 30px;
  width: 100%;
  text-align: center;

  .nav-unit {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    background-color: $nav-unit-background-color;
    cursor: pointer;
    transform: scale(1);
    transition: 0.4s ease-in-out;


    @at-root {
      &.active {
        background-color: $nav-unit-active-background-color;
        transform: scale(1.5);

        &::after {
          @include font-smoothing;
          content: "\ea53";
          font-family: iconfont;
          font-size: 16px;
          font-weight: bold;
          line-height: 20px;
          color: $icon-color;
        }
      }

      &.inverse {
        transform: scale(1.5) rotateZ(180deg);
      }


    }

  }
}
// controller end
