$background-color: #222;
$img-sec-background-color: #ddd;
$img-figure-background-color: #fff;
$img-title-color: #a7a0a2;
$img-back-background-color: #fff;
$nav-unit-background-color: rgba(80, 80, 80, 0.6);
$nav-unit-active-background-color: rgba(20, 20, 20, 0.6);
$icon-color: #fff;
